# ==========================================
# Entorno General
# ==========================================
NODE_ENV=dev
PORT=3000
FRONTEND_URL=http://localhost:3001

# ==========================================
# Base de Datos (PostgreSQL)
# ==========================================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=tu_usuario_pg
DB_PASSWORD=tu_password_pg
DB_DATABASE=nombre_db_local

# ==========================================
# Autenticación y Seguridad (JWT)
# ==========================================
JWT_SECRET=tu_jwt_secret_key_aqui
JWT_EXPIRATION=7d

# ==========================================
# Archivos y Almacenamiento Local
# ==========================================
UPLOAD_DEST=./uploads

# ==========================================
# Búsqueda Full-Text (Manticore Search)
# ==========================================
MANTICORE_URL=http://localhost:9308

# ==========================================
# Inteligencia Artificial (FastAPI)
# ==========================================
AI_SERVICE_URL=http://localhost:8000/api/predict

# ==========================================
# Pasarela de Pagos (Paypal)
# ==========================================
PAYPAL_CLIENT_ID=tu_paypal_client_id_aqui
PAYPAL_SECRET=tu_paypal_secret_aqui

# ==========================================
# Proveedor de Verificación KYC
# ==========================================
KYC_API_KEY=tu_api_key_de_kyc_aqui
KYC_WEBHOOK_SECRET=tu_webhook_secret_de_kyc_aqui
